.container {
    max-width: 1440px; 
    margin: 0 auto; 
    padding: 0 128px;
    background-color: #FFFFFF;
  }
  
  .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      border-bottom: 1px solid #2a363b;
    }
  
  .link {
      display: inline-block;
      text-decoration: none;
      padding: 12px;
      font-weight: 700;
      color: #2a363b;   
    }
    
  .link:hover  {
      color: #1915e7;
    }
    
  .link:focus  {
        color: #e84a5f;
      }
  
  .link:active {
      color: #e84a5f;
    }